<%- include("./partials/head") %>
<%- include("./partials/header")%>

<main>
  <h1>Curiosidades</h1>


  
  <% if (curiosidades.length > 0) { %>
    <ul class="lado-esquerdo-filho1">
      <% for (let curiosidade of curiosidades) { %>
      <li class="lado-esquerdo-neto1 lado-esquerdo-neto1-destaque">
        <a href="/detailsNews/<%= curiosidade.id %>">
          <div class="zoomable-image-container">
            <img class="zoomable-image" src="<%= curiosidade.image %>" alt="Capa Noticia" />
            <div class="zoomable-image-overlay"></div>
          </div>
          <h1><%= curiosidade.titulo %></h1>
          <h3>Data: <%= curiosidade.created_at.toLocaleDateString() %></h3>
          <p><%= curiosidade.description.substring(0, 298) %>...</p>

        </a>
      </li>
      <% } %>
      <% } %>
    </ul>
</main>
