<%- include("./partials/head", { pageTitle: title }) %>
<%- include("./partials/header")%>
<meta name="viewport" content="width=device-width, initial-scale=1" />


<main class="main-paginas">
  <h1 class=" titulo-paginas">CURIOSIDADES</h1>



    <% if (curiosidades.length > 0) { %>
      <ul class="lado-esquerdo-filho1" id="newsListCuriosidade">
        <% for (let curiosidade of curiosidades.slice(0, 10)) { %>
        <li class="lado-esquerdo-neto1 lado-esquerdo-neto1-destaque">
          <a rel="canonical" href="/detailsNews/<%= curiosidade.titulo.replace(/ /g, '-') %>" target="_blank">
            <div class="zoomable-image-container">
              <img class="zoomable-image" src="<%= curiosidade.image %>" alt="Capa Noticia" />
              <div class="zoomable-image-overlay"></div>
            </div>
            <h2><%= curiosidade.titulo.substring(0, 58) %>...</h2>
            <h3>Data: <%= curiosidade.created_at.toLocaleDateString() %></h3>
            <p><%- curiosidade.description1.substring(0, 298) %>...</p>
          </a>
        </li>
        <% } %>
      </ul>
        <% } %>
    
     
      
      <div id="loadMoreContainerCuriosidade" class="loadMoreContainer-css">
        <button id="loadMoreButtonCuriosidade">Ver mais</button>
      </div>
      
      <script>
        let offsetNoticiasCuriosidade = 10;
      
        function carregarMaisNoticiasCuriosidade() {
          $.ajax({
            url: `/carregarMaisNoticiasCuriosidade/${offsetNoticiasCuriosidade}`,
            method: "GET",
            success: function(data) {
              $("#newsListCuriosidade").append(data);
              offsetNoticiasCuriosidade += 10;
            },
            error: function(error) {
              console.error(error);
            }
          });
        }
      
        $("#loadMoreButtonCuriosidade").click(carregarMaisNoticiasCuriosidade);
      </script>

</main>

<%- include("./partials/footer") %>
