<%- include("./partials/head") %> <%- include("./partials/header") %>

<main>
  <section class="lado-esquerdo-pai">
    <div class="titulo-noticia">
      <h1 class="titulo-destaque-index " ><%= detailsRecomenda.titulo%>
    </div>

    <div class="sect-autor-data-pai">
      <div class="sect-autor-data-filho">
        <img src="/img/autor.png" alt="" />
        <h2>Gabriel</h2>
      </div>
      <div class="sect-autor-data-filho">
        <img src="/img/data.png" alt="" />
        <h2><%= detailsRecomenda.created_at.toLocaleDateString('pt-BR') %></h2>
      </div>
    </div>

    <div class="sect-capa-pagina-noticia">
      <img src="<%= detailsRecomenda.image %>" alt="Imagem" />
    </div>

    <div class="sect-descricao">
      <p>
        <%- detailsRecomenda.description %>
      </p>
    </div>


    <!-- Recomenda 1  -->
    <div class="titulo-noticia titulo-noticia-recomenda">
      <h1><%= detailsRecomenda.titulo2%>
    </div>

    <div class="sect-capa-pagina-noticia ">
      <img src="<%= detailsRecomenda.image2 %>" alt="Imagem" />
    </div>
    <div class="sect-descricao">
      <p>
        <%- detailsRecomenda.description2 %>
      </p>
    </div>

        <!-- Recomenda 2  -->
        <div class="titulo-noticia">
          <h1><%= detailsRecomenda.titulo3%>
       </div>

        <div class="sect-capa-pagina-noticia">
          <img src="<%= detailsRecomenda.image3 %>" alt="Imagem" />
        </div>
        <div class="sect-descricao">
          <p>
            <%- detailsRecomenda.description3 %>
          </p>
        </div>

            <!-- Recomenda 3  -->
    <div class="titulo-noticia">
      <h1><%= detailsRecomenda.titulo4%>
    </div>

    <div class="sect-capa-pagina-noticia">
      <img src="<%= detailsRecomenda.image4 %>" alt="Imagem" />
    </div>
    <div class="sect-descricao">
      <p>
        <%- detailsRecomenda.description4 %>
      </p>
    </div>

        <!-- Recomenda 4  -->
        <div class="titulo-noticia">
          <h1><%= detailsRecomenda.titulo5%>
    </div>

        <div class="sect-capa-pagina-noticia">
          <img src="<%= detailsRecomenda.image5 %>" alt="Imagem" />
        </div>
        <div class="sect-descricao">
          <p>
            <%- detailsRecomenda.description5 %>
          </p>
        </div>

            <!-- Recomenda 5  -->
    <div class="titulo-noticia">
      <h1><%= detailsRecomenda.titulo6%>
    </div>

    <div class="sect-capa-pagina-noticia">
      <img src="<%= detailsRecomenda.image6 %>" alt="Imagem" />
    </div>
    <div class="sect-descricao">
      <p>
        <%- detailsRecomenda.description6 %>
      </p>
    </div>

        <!-- Recomenda 6  -->
        <div class="titulo-noticia">
          <h1><%= detailsRecomenda.titulo7%>
    </div>

        <div class="sect-capa-pagina-noticia">
          <img src="<%= detailsRecomenda.image7 %>" alt="Imagem" />
        </div>
        <div class="sect-descricao">
          <p>
            <%- detailsRecomenda.description7 %>
          </p>
        </div>


            <!-- Recomenda 7  -->
    <div class="titulo-noticia">
      <h1><%= detailsRecomenda.titulo8%>
    </div>

    <div class="sect-capa-pagina-noticia">
      <img src="<%= detailsRecomenda.image8 %>" alt="Imagem" />
    </div>
    <div class="sect-descricao">
      <p>
        <%- detailsRecomenda.description8 %>
      </p>
    </div>


        <!-- Recomenda 8  -->
        <div class="titulo-noticia">
          <h1><%= detailsRecomenda.titulo9%>
    </div>

        <div class="sect-capa-pagina-noticia">
          <img src="<%= detailsRecomenda.image9 %>" alt="Imagem" />
        </div>
        <div class="sect-descricao">
          <p>
            <%- detailsRecomenda.description9 %>
          </p>
        </div>



            <!-- Recomenda 9 -->
    <div class="titulo-noticia">
      <h1><%= detailsRecomenda.titulo10%>
    </div>

    <div class="sect-capa-pagina-noticia">
      <img src="<%= detailsRecomenda.image10 %>" alt="Imagem" />
    </div>
    <div class="sect-descricao">
      <p>
        <%- detailsRecomenda.description10 %>
      </p>
    </div>

                <!-- Recomenda 10 -->
                <div class="titulo-noticia">
                  <h1><%= detailsRecomenda.titulo11%>
               </div>

                <div class="sect-capa-pagina-noticia">
                  <img src="<%= detailsRecomenda.image11 %>" alt="Imagem" />
                </div>
                <div class="sect-descricao">
                  <p>
                    <%- detailsRecomenda.description11 %>
                  </p>
                </div>

                <div class="leia-tambem-details">
                <h1>Leia também:</h1>
                <% for (let i = 0; i < 3 && i < nextRecomenda.length; i++) { %>
                  <a href="/detailsRecomenda/<%= nextRecomenda[i].id %>">
                    <div class="sect-leia-tambem-pai">
                      <div class="sect-leia-tambem-filho">
                        <img src="/img/bola-vermelha.png" alt="" />
                        <h2><%= nextRecomenda[i].titulo %></h2>
                      </div>
                    </div>
                  </a>
                <% } %>
                </div>
                

                <div class="sect-veja-mais">
                  <img src="/img/bola-vermelha.png" alt="" />
                  <h3>
                    Veja mais sobre:
                    <form action="/search" method="POST">
                      <input type="hidden" name="searchQuery" value="<%= detailsRecomenda.conecxao %>">
                      <button type="submit"><h4><%= detailsRecomenda.conecxao %></h4></button>
                    </form>
                  </h3>
                </div>
  
    <div class="linha-noticia"></div>

    <div class="sect-resenha-autor">
      <img src="/img/logo2.png" alt="" />
      <h2>
        Fuzi <br />
        Redator, designer e ilustrador freelancer. Um fã eterno de animes e
        mangás japoneses.
      </h2>
    </div>
  </section>
  <section class="lado-direito-pai">
    <h1 class="titulo-destaque-index titulo-destaque-index-direito" >ANIME</h1>

    <ul class="lado-direito-filho1">
      <% for (let anime of tipoAnime) { %>
        <li class="lado-esquerdo-neto5 lado-direito-neto1">
          <button type="submit">
            <% if (anime.contentType === 'News') { %>
              <a href="/detailsNews/<%= anime.id %>">
            <% } else if (anime.contentType === 'Recomenda') { %>
              <a href="/detailsRecomenda/<%= anime.id %>">
            <% } else if (anime.contentType === 'Temporada') { %>
              <a href="/detailsTemporada/<%= anime.id %>">
            <% } %>
            <div class="temporada-lado-direito">
              <div class="temporada-lado-direito-image">
                <img src="<%= anime.image %>" alt="Capa Notica" />
              </div>
              <div>
                <h1><%= anime.titulo.substring(0, 48) %></h1>
                <h3><%= new Date(anime.created_at).toLocaleDateString('pt-BR') %></h3>
              </div>
            </div>
            <% if (anime.contentType === 'News') { %>
              </a>
            <% } else if (anime.contentType === 'Recomenda') { %>
              </a>
            <% } else if (anime.contentType === 'Temporada') { %>
              </a>
            <% } %>
          </button>
        </li>
      <% } %>
    </ul>
 
    


    
    

    <h1 class="titulo-destaque-index titulo-destaque-index2 titulo-destaque-index-direito">MANGA</h1>
    <% if (tipoMangas.length > 0) { %>
      <ul class="lado-direito-filho1">
        <% for (let mangas of tipoMangas) { %>
          <li class="lado-esquerdo-neto5 lado-esquerdo-neto6 lado-direito-neto1">
            <a class="manga-link" href="<%= mangas.tipo === 'News' ? '/detailsNews/' + mangas.id : '/detailsRecomenda/' + mangas.id %>">
              <div class="temporada-lado-direito">
                <div class="temporada-lado-direito-image">
                  <img src="<%= mangas.image %>" alt="Capa Notica" />
                </div>
                <div>
                  <h1><%= mangas.titulo.substring(0, 48) %></h1>
                  <h3><%= new Date(mangas.created_at).toLocaleDateString('pt-BR') %></h3>
                </div>
              </div>
            </a>
          </li>
        <% } %>
      </ul>
    <% } %>
    
  </section>
</main>

<%- include("./partials/footer") %>
