<%- include("./partials/head") %> <%- include("./partials/header") %>

<main>
  <section class="lado-esquerdo-pai">
    <div class="titulo-noticia">
      <h1><%= detailsRecomenda.titulo%>

    <div class="sect-autor-data-pai">
      <div class="sect-autor-data-filho">
        <img src="/img/autor.png" alt="" />
        <h2>Gabriel</h2>
      </div>
      <div class="sect-autor-data-filho">
        <img src="/img/data.png" alt="" />
        <h2><%= detailsRecomenda.created_at.toLocaleDateString('pt-BR') %></h2>
      </div>
    </div>

    <div class="sect-capa-pagina-noticia">
      <img src="<%= detailsRecomenda.image %>" alt="Imagem" />
    </div>

    <div class="sect-descricao">
      <p>
        <%= detailsRecomenda.description %>
      </p>
    </div>


    <!-- Recomenda 1  -->
    <div class="titulo-noticia">
      <h1><%= detailsRecomenda.titulo2%>
    <div class="sect-capa-pagina-noticia">
      <img src="<%= detailsRecomenda.image2 %>" alt="Imagem" />
    </div>
    <div class="sect-descricao">
      <p>
        <%= detailsRecomenda.description2 %>
      </p>
    </div>

        <!-- Recomenda 2  -->
        <div class="titulo-noticia">
          <h1><%= detailsRecomenda.titulo3%>
        <div class="sect-capa-pagina-noticia">
          <img src="<%= detailsRecomenda.image3 %>" alt="Imagem" />
        </div>
        <div class="sect-descricao">
          <p>
            <%= detailsRecomenda.description3 %>
          </p>
        </div>

            <!-- Recomenda 3  -->
    <div class="titulo-noticia">
      <h1><%= detailsRecomenda.titulo4%>
    <div class="sect-capa-pagina-noticia">
      <img src="<%= detailsRecomenda.image4 %>" alt="Imagem" />
    </div>
    <div class="sect-descricao">
      <p>
        <%= detailsRecomenda.description4 %>
      </p>
    </div>

        <!-- Recomenda 4  -->
        <div class="titulo-noticia">
          <h1><%= detailsRecomenda.titulo5%>
        <div class="sect-capa-pagina-noticia">
          <img src="<%= detailsRecomenda.image5 %>" alt="Imagem" />
        </div>
        <div class="sect-descricao">
          <p>
            <%= detailsRecomenda.description5 %>
          </p>
        </div>

            <!-- Recomenda 5  -->
    <div class="titulo-noticia">
      <h1><%= detailsRecomenda.titulo6%>
    <div class="sect-capa-pagina-noticia">
      <img src="<%= detailsRecomenda.image6 %>" alt="Imagem" />
    </div>
    <div class="sect-descricao">
      <p>
        <%= detailsRecomenda.description6 %>
      </p>
    </div>

        <!-- Recomenda 6  -->
        <div class="titulo-noticia">
          <h1><%= detailsRecomenda.titulo7%>
        <div class="sect-capa-pagina-noticia">
          <img src="<%= detailsRecomenda.image7 %>" alt="Imagem" />
        </div>
        <div class="sect-descricao">
          <p>
            <%= detailsRecomenda.description7 %>
          </p>
        </div>


            <!-- Recomenda 7  -->
    <div class="titulo-noticia">
      <h1><%= detailsRecomenda.titulo8%>
    <div class="sect-capa-pagina-noticia">
      <img src="<%= detailsRecomenda.image8 %>" alt="Imagem" />
    </div>
    <div class="sect-descricao">
      <p>
        <%= detailsRecomenda.description8 %>
      </p>
    </div>


        <!-- Recomenda 8  -->
        <div class="titulo-noticia">
          <h1><%= detailsRecomenda.titulo9%>
        <div class="sect-capa-pagina-noticia">
          <img src="<%= detailsRecomenda.image9 %>" alt="Imagem" />
        </div>
        <div class="sect-descricao">
          <p>
            <%= detailsRecomenda.description9 %>
          </p>
        </div>



            <!-- Recomenda 9 -->
    <div class="titulo-noticia">
      <h1><%= detailsRecomenda.titulo10%>
    <div class="sect-capa-pagina-noticia">
      <img src="<%= detailsRecomenda.image10 %>" alt="Imagem" />
    </div>
    <div class="sect-descricao">
      <p>
        <%= detailsRecomenda.description10 %>
      </p>
    </div>

                <!-- Recomenda 10 -->
                <div class="titulo-noticia">
                  <h1><%= detailsRecomenda.titulo11%>
                <div class="sect-capa-pagina-noticia">
                  <img src="<%= detailsRecomenda.image11 %>" alt="Imagem" />
                </div>
                <div class="sect-descricao">
                  <p>
                    <%= detailsRecomenda.description11 %>
                  </p>
                </div>

    <div class="sect-leia-tambem-pai">
      <h1>Leia tambem:</h1>
      <div class="sect-leia-tambem-filho">
        <img src="/img/bola-vermelha.png" alt="" />
        <h2>
          Zom 100: Bucket List of the Dead – 5º Episódio do anime sofre com
          atraso
        </h2>
      </div>
      <div class="sect-leia-tambem-filho">
        <img src="/img/bola-vermelha.png" alt="" />
        <h2>
          Zom 100: Bucket List of the Dead – 5º Episódio do anime sofre com
          atraso
        </h2>
      </div>
      <div class="sect-leia-tambem-filho">
        <img src="/img/bola-vermelha.png" alt="" />
        <h2>
          Zom 100: Bucket List of the Dead – 5º Episódio do anime sofre com
          atraso
        </h2>
      </div>
    </div>

    <div class="sect-veja-mais">
      <img src="/img/bola-vermelha.png" alt="" />
      <h3>Veja mais sobre: <%= detailsRecomenda.conecxao %></h3>
    </div>

    <div class="linha-noticia"></div>

    <div class="sect-resenha-autor">
      <img src="/img/bola-vermelha.png" alt="" />
      <h2>
        Fuzi <br />
        Redator, designer e ilustrador freelancer. Um fã eterno de animes e
        mangás japoneses.
      </h2>
    </div>
  </section>
  <section class="lado-direito-pai">
    <h1 class="titulo-destaque-index">ANIME</h1>

    <ul class="lado-direito-filho1">
      <% for (let anime of tipoAnime) { %>
        <li class="lado-esquerdo-neto5 lado-direito-neto1">
          <button type="submit">
            <% if (anime.contentType === 'News') { %>
              <a href="/detailsNews/<%= anime.id %>">
            <% } else if (anime.contentType === 'Recomenda') { %>
              <a href="/detailsRecomenda/<%= anime.id %>">
            <% } else if (anime.contentType === 'Temporada') { %>
              <a href="/detailsTemporada/<%= anime.id %>">
            <% } %>
            <div class="temporada-lado-direito">
              <div class="temporada-lado-direito-image">
                <img src="<%= anime.image %>" alt="Capa Notica" />
              </div>
              <div>
                <h1><%= anime.titulo %></h1>
                <h3><%= new Date(anime.created_at).toLocaleDateString('pt-BR') %></h3>
              </div>
            </div>
            <% if (anime.contentType === 'News') { %>
              </a>
            <% } else if (anime.contentType === 'Recomenda') { %>
              </a>
            <% } else if (anime.contentType === 'Temporada') { %>
              </a>
            <% } %>
          </button>
        </li>
      <% } %>
    </ul>
 
    


    
    

    <h1 class="titulo-destaque-index titulo-destaque-index2">MANGA</h1>

    <% if (tipoMangas.length > 0) { %>
      <ul class="lado-direito-filho1">
        <% for (let mangas of tipoMangas) { %>
          <li class="lado-esquerdo-neto5 lado-esquerdo-neto6 lado-direito-neto1">
            <a class="manga-link" href="/detailsNews/<%= mangas.id %>">
              <div class="temporada-lado-direito">
                <div class="temporada-lado-direito-image">
                  <img src="<%= mangas.image %>" alt="Capa Notica" />
                </div>
                <div>
                  <h1><%= mangas.titulo %></h1>
                  <h3><%= new Date(mangas.created_at).toLocaleDateString('pt-BR') %></h3>
                </div>
              </div>
            </a>
          </li>
        <% } %>
      </ul>
    <% } else { %>
      <h2>Nenhum manga Encontrado</h2>
    <% } %>
    
  </section>
</main>

<%- include("./partials/footer") %>
