<%- include("./partials/head") %> <%- include("./partials/header") %>

<main>
  <section class="lado-esquerdo-pai">
    <ul class="lado-esquerdo-filho1">
      <li class="lado-esquerdo-neto1 lado-esquerdo-neto1-destaque lado-esquerdo-neto1-temporada lado-esquerdo-neto1-detailstemporada">
        <section class="section-detailsTemporada">
          <a href="/detailsTemporada/<%= detailsTemporada.id %>">
          <div class="zoomable-image-container zoomable-image-container-temporada">
            <img class="zoomable-image" src="<%= detailsTemporada.image %>" alt="Capa Noticia" />
            <div class="zoomable-image-overlay"></div>
          </div>
          <div class="div2 div3">
            <h1><%= detailsTemporada.titulo %></h1>
            <p class="descricao"><%- detailsTemporada.description %></p>
          
            

            <h2 class="generos-temporada-principal generos-temporada-principal2">Data de Estreia:
              <div class="generos-temporada generos-temporada3">
                <h3><%= detailsTemporada.estreia %></h3>
                </div>
            </h2>

            <h2 class="generos-temporada-principal generos-temporada-principal2">Streaming:
              <div class="generos-temporada generos-temporada3">
                <h3><%= detailsTemporada.streaming %></h3>
                </div>
            </h2>

            <h2 class="generos-temporada-principal generos-temporada-principal2">Generos:
              <div class="generos-temporada generos-temporada2 generos-temporada3">
                <h3><%= detailsTemporada.genero1 %></h3>
                <h3><%= detailsTemporada.genero2 %></h3>
                </div>
            </h2>
            <h2 class="generos-temporada-principal generos-temporada-principal2">
                <a href="/detailsTemporada/<%=detailsTemporada.id%>?scrollTo=videoTrailer">Trailer</a>
            </h2>


          </div>
        </a>
          </section
      </li>
    </ul>


          <h1 class="titulo-paginas">Trailer</h1>

          <% if (detailsTemporada.link_video) { %>
            <div class="iframe-video" id="videoTrailer">
              <iframe
                src="https://www.youtube.com/embed/<%= detailsTemporada.link_video %>"
                frameborder="0"
              ></iframe>
            </div>
          <% } %>

            
    
        <script>
          document.addEventListener("DOMContentLoaded", function() {
            const urlParams = new URLSearchParams(window.location.search);
            const scrollToSection = urlParams.get("scrollTo");
        
            if (scrollToSection) {
              const sectionToScroll = document.getElementById(scrollToSection);
              if (sectionToScroll) {
                sectionToScroll.scrollIntoView({ behavior: "smooth" });
              }
            }
          });
        </script>
    

    <div class="leia-tambem-details">
      <h1>Leia também:</h1>
      <% for (let i = 0; i < 3 && i < nextRecomenda.length; i++) { %>
        <a href="/detailsTemporada/<%= nextRecomenda[i].id %>">
          <div class="sect-leia-tambem-pai">
            <div class="sect-leia-tambem-filho">
              <img src="/img/bola-vermelha.png" alt="" />
              <h2><%= nextRecomenda[i].titulo %></h2>
            </div>
          </div>
        </a>
      <% } %>
      </div>

      <div class="sect-veja-mais">
        <img src="/img/bola-vermelha.png" alt="" />
        <h3>
          Veja mais sobre:
          <form action="/search" method="POST">
            <input type="hidden" name="searchQuery" value="<%= detailsTemporada.conecxao %>">
            <button type="submit"><h4><%= detailsTemporada.conecxao %></h4></button>
          </form>
        </h3>
      </div>

    <div class="linha-noticia"></div>

    <div class="sect-resenha-autor">
      <img src="/img/logo2.png" alt="" />
      <h2>
        Fuzi <br />
        Redator, designer e ilustrador freelancer. Um fã eterno de animes e
        mangás japoneses.
      </h2>
    </div>
  </section>
  
  <section class="lado-direito-pai">
    <h1 class="titulo-destaque-index">ANIME</h1>

    <ul class="lado-direito-filho1">
      <% for (let anime of tipoAnime) { %>
        <li class="lado-esquerdo-neto5 lado-direito-neto1">
          <button type="submit">
            <% if (anime.contentType === 'News') { %>
              <a href="/detailsNews/<%= anime.id %>">
            <% } else if (anime.contentType === 'Recomenda') { %>
              <a href="/detailsRecomenda/<%= anime.id %>">
            <% } else if (anime.contentType === 'Temporada') { %>
              <a href="/detailsTemporada/<%= anime.id %>">
            <% } %>
            <div class="temporada-lado-direito">
              <div class="temporada-lado-direito-image">
                <img src="<%= anime.image %>" alt="Capa Notica" />
              </div>
              <div>
                <h1><%= anime.titulo.substring(0, 48) %>...</h1>
                <h3><%= new Date(anime.created_at).toLocaleDateString('pt-BR') %></h3>
              </div>
            </div>
            <% if (anime.contentType === 'News') { %>
              </a>
            <% } else if (anime.contentType === 'Recomenda') { %>
              </a>
            <% } else if (anime.contentType === 'Temporada') { %>
              </a>
            <% } %>
          </button>
        </li>
      <% } %>
    </ul>
 

    <h1 class="titulo-destaque-index titulo-destaque-index2">MANGA</h1>

    <% if (tipoMangas.length > 0) { %>
      <ul class="lado-direito-filho1">
        <% for (let mangas of tipoMangas) { %>
          <li class="lado-esquerdo-neto5 lado-esquerdo-neto6 lado-direito-neto1">
            <a class="manga-link" href="/detailsNews/<%= mangas.id %>">
              <div class="temporada-lado-direito ">
                <div class="temporada-lado-direito-image">
                  <img src="<%= mangas.image %>" alt="Capa Notica" />
                </div>
                <div>
                  <h1><%= mangas.titulo.substring(0, 48) %></h1>
                  <h3><%= new Date(mangas.created_at).toLocaleDateString('pt-BR') %></h3>
                </div>
              </div>
            </a>
          </li>
        <% } %>
      </ul>
    <% } else { %>
      <h2>Nenhum manga Encontrado</h2>
    <% } %>
    
  </section>
</main>

<%- include("./partials/footer") %>

