<%- include("./partials/head") %> <%- include("./partials/header") %>

<main>
  <section class="lado-esquerdo-pai">
    <div class="titulo-noticia">
      <h1 class="titulo-destaque-index"><%= detailsNews.titulo %></h1>
      <h2><%= detailsNews.subtitulo %></h2>

    </div>


    <div class="sect-autor-data-pai">
      <div class="sect-autor-data-filho">
        <img src="/img/autor.png" alt="" />
        <h2>Gabriel</h2>
      </div>
      <div class="sect-autor-data-filho">
        <img src="/img/data.png" alt="" />
        <h2><%= detailsNews.created_at.toLocaleDateString('pt-BR') %></h2>
      </div>
    </div>


    <div class="sect-capa-pagina-noticia">
      <img src="<%= detailsNews.image %>" alt="Imagem" />
    </div>

    <div class="sect-descricao">
      <p><%- unescape(detailsNews.description) %></p>
    </div>
    

    <% if (detailsNews.link_video) { %>
      <div class="iframe-video">
        <iframe
          src="https://www.youtube.com/embed/<%= detailsNews.link_video %>"
          frameborder="0"
        ></iframe>
      </div>
    <% } %>


    <div class="sect-capa-pagina-noticia sect-capa-pagina-noticia-img2">
      <img src="<%= detailsNews.image2 %>" alt="Imagem" />
    </div>

    <div class="sect-descricao">
      <p><%- unescape(detailsNews.description2) %></p>
    </div>

    <div class="leia-tambem-details">
                  
      <h1>Leia também:</h1>
      <% for (let i = 0; i < 3 && i < nextRecomenda.length; i++) { %>
        <a href="/detailsNews/<%= nextRecomenda[i].titulo.replace(/ /g, '-') %>">
          <div class="sect-leia-tambem-pai">
            <div class="sect-leia-tambem-filho">
              <img src="/img/bola-vermelha.png" alt="" />
              <h2><%= nextRecomenda[i].titulo %></h2>
            </div>
          </div>
        </a>
      <% } %>
      </div>

    <div class="sect-veja-mais">
      <img src="/img/bola-vermelha.png" alt="" />
      <h3>
        Veja mais sobre:
        <form action="/search" method="POST">
          <input type="hidden" name="searchQuery" value="<%= detailsNews.conecxao %>">
          <button type="submit"><h4><%= detailsNews.conecxao %></h4></button>
        </form>
      </h3>
    </div>
    

    <div class="linha-noticia"></div>

    <div class="sect-resenha-autor">
      <a href="/"><img src="/img/logo2.png" alt="" /></a>
      <h2>
        Gabriel <br />
        Redator, designer e ilustrador freelancer. Um fã eterno de animes e
        mangás japoneses.
      </h2>
    </div>
  </section>
  <section class="lado-direito-pai">
    <h1 class="titulo-destaque-index titulo-destaque-index-direito">ANIMES</h1>

    <ul class="lado-direito-filho1">
      <% for (let anime of tipoAnime) { %>
      <li class="lado-esquerdo-neto5 lado-direito-neto1">
        <button type="submit">
          <% if (anime.contentType === 'News') { %>
          <a href="/detailsNews/<%= anime.titulo.replace(/ /g, '-') %>">
            <% } else if (anime.contentType === 'Recomenda') { %>
            <a href="/detailsRecomenda/<%= anime.titulo.replace(/ /g, '-') %>">
              <% } %>
              <div class="temporada-lado-direito">
                <div class="temporada-lado-direito-image">
                  <img src="<%= anime.image %>" alt="Capa Notica" />
                </div>
                <div>
                  <h1><%= anime.titulo.substring(0, 48) %></h1>
                  <h3>
                    <%= new Date(anime.created_at).toLocaleDateString('pt-BR')
                    %>
                  </h3>
                </div>
              </div>
              <% if (anime.contentType === 'News') { %>
            </a>
            <% } else if (anime.contentType === 'Recomenda') { %>
          </a>

          <% } %>
        </button>
      </li>
      <% } %>
    </ul>

    <h1 class="titulo-destaque-index titulo-destaque-index2 titulo-destaque-index-direito">MANGAS</h1>

    <% if (tipoMangas.length > 0) { %>
      <ul class="lado-direito-filho1">
        <% for (let item of tipoMangas) { %>
          <li class="lado-esquerdo-neto5 lado-esquerdo-neto6 lado-direito-neto1">
            <a href="<%= item instanceof News ? '/detailsNews/' + item.titulo.replace(/ /g, '-') : '/detailsRecomenda/' + item.titulo.replace(/ /g, '-') %>">

              
              <div class="temporada-lado-direito ">
                <div class="temporada-lado-direito-image">
                  <img src="<%= item.image %>" alt="Capa Notica" />
                </div>
                <div>
                  <h1><%= item.titulo.substring(0, 48) %></h1>
                  <h3><%= new Date(item.created_at).toLocaleDateString('pt-BR') %></h3>
                </div>
              </div>
            </a>
          </li>
        <% } %>
      </ul>
    <% } else { %>
      <h2>Nenhum manga Encontrado</h2>
    <% } %>
    
  </section>
</main>

<%- include("./partials/footer") %>
