<%- include("./partials/head") %> <%- include("./partials/header") %>

<main>
 <section class="section-supremo">
  <section class="lado-esquerdo-pai">
    <!-- Destaque -->
    <h1 class="titulo-destaque-index">DESTAQUE</h1>
    <div>
      <ul class="lado-esquerdo-filho1">
        <% for (const noticia of mergedData.slice(0, 3)) { %>
        <li class="lado-esquerdo-neto1 lado-esquerdo-neto1-destaque">
          <a href="<%= noticia instanceof News ? '/detailsNews/' + noticia.id : '/detailsRecomenda/' + noticia.id %>">
            <div class="zoomable-image-container">
              <img class="zoomable-image" src="<%= noticia.image %>" alt="Capa Noticia" />
              <div class="zoomable-image-overlay"></div>
            </div>
            <h1><%= noticia.titulo %></h1>
            <h3>Data: <%= noticia.created_at.toLocaleDateString() %></h3>
            <p><%= noticia.description.substring(0, 200) %>...</p>
          </a>
        </li>
        <% } %>
      </ul>
    </div>
    

    <script>
      $(document).ready(function() {
        $(".zoomable-image-container").hover(
          function() {
            $(this).find(".zoomable-image").css("transform", "scale(1.1)");
            $(this).find(".zoomable-image-overlay").css("opacity", "1");
          },
          function() {
            $(this).find(".zoomable-image").css("transform", "scale(1)");
            $(this).find(".zoomable-image-overlay").css("opacity", "0");
          }
        );
      });
    </script>
    


    <!-- Principais Notícias -->
    <h1 class="titulo-destaque-index">PRINCIPAIS NOTICIAS</h1>


      <ul class="lado-esquerdo-filho2">
        <% for (const noticia of mergedData.slice(3)) { %>
       <li>
        <div class="lado-esquerdo-filho3">
          <div class="zoomable-image-container image-principais-noticias">
            <a href="<%= noticia instanceof News ? '/detailsNews/' + noticia.id : '/detailsRecomenda/' + noticia.id %>">
            <img class="zoomable-image" src="<%= noticia.image %>" alt="Capa Noticia" />
            <div class="zoomable-image-overlay"></div>
          </div>
          <div class="lado-esquerdo-neto2">
            <h2><%= noticia.titulo %></h2>
            <h4>Data: <%= noticia.created_at.toLocaleDateString() %></h4>
            <p><%= noticia.description.substring(0, 200) %>...</p>
          </a>
          </div>
        </div>
       </li>
        <% } %>
      </ul>

  </section>

  <section class="lado-direito-pai">
    <h1 class="titulo-destaque-index">TEMPORADAS</h1>

    <% if (temporadaNews.length > 0) { %>
      <ul class="lado-direito-filho1">
        <% for (let detailsTemporada of temporadaNews) { %>
          <li class="lado-esquerdo-neto1 lado-direito-neto1">
            <button type="submit">
              <a href="/detailsTemporada/<%= detailsTemporada.id %>">
            <div class="temporada-lado-direito">
              <div class="temporada-lado-direito-image">
                <img src="<%= detailsTemporada.image %>" alt="Capa Notica" />
              </div>
              <div>
                
                <h1><%= detailsTemporada.titulo.substring(0, 48) %></h1>
                <h3>Estreia: <%= new Date(detailsTemporada.created_at).toLocaleDateString() %></h3>
              </div>
            </div>
            </a>
            </button>
          </li>
        <% } %>
      </ul>
    <% } else { %>
      <h2>Nenhuma Notícia de Temporada Encontrada</h2>
    <% } %>

    <h1 class="titulo-destaque-index">CURIOSIDADES</h1>

    <% if (curiosidadeNews.length > 0) { %>
      <ul class="lado-direito-filho1">
        <% for (let curiosidade of curiosidadeNews) { %>
          <li class="lado-esquerdo-neto1 lado-direito-neto1">
            <button type="submit">
              <a href="/detailsNews/<%= curiosidade.id %>">
            <div class="temporada-lado-direito">
              <div class="temporada-lado-direito-image">
                <img src="<%= curiosidade.image %>" alt="Capa Notica" />
              </div>
              <div>
                <h1><%= curiosidade.titulo %></h1>
                <h3>data: <%= new Date(curiosidade.created_at).toLocaleDateString() %></h3>
              </div>
            </div>
            </a>
            </button>
          </li>
        <% } %>
      </ul>
    <% } else { %>
      <h2>Nenhuma Notícia de curiosidade Encontrada</h2>
    <% } %>

  </section>
 </section>
</main>

