<%- include("./partials/headAdm") %> <%- include("./partials/headerAdm") %>

<main class="form-news-create main-news-adm">
  <h1 class="titulo-news-create">Deletar Notica</h1>
  <% if(locals.detailsNews){ %>
  <div class="imagem-usuario">
    <li class="lado-esquerdo-neto1 lado-esquerdo-neto1-destaque">
    <img src="<%= detailsNews.image %>" alt="imagem" />
    </li>
    <span>Titulo: <%= detailsNews.titulo %>  </span>
    <span>Descrição: <%= detailsNews.description %> </span>
    <span>Conexão: <%= detailsNews.conecxao %> </span>
    <span>Categoria: <%= detailsNews.categoria %> </span>
  </div>
  <form action="/detailsNews/delete/ <%= detailsNews.id %>?_method=delete" method="post">
    <h2>Deseja Deletar esse usuário</h2>
    <a href="/detailsNews"><button type="button">Não</button></a>
    <button type="submit">Sim</button>
  </form>
  <% } else {%>
  <h2>Usuario não Entrado por motivos do além</h2>
  <% } %>
</main>
