<%- include("./partials/headAdm") %> <%- include("./partials/headerAdm")%>

<main>
  <h1>Lista de Usuarios</h1>
  <% if(news.length > 0){ %>
    <% for(let detailsNews of news) {%>
  <table>
    <li class="lado-esquerdo-neto1">
      <div>
        <img src="<%= detailsNews.image %>" alt="Imagem" />


        <h1><%= detailsNews.titulo %></h1>
        <h3>data: 20/20/2023</h3>
        <p><%= detailsNews.description %></p>
      </div>
      <div>
        <td>
          <a href="/detailsNews/<%= detailsNews.id %>">Visualizar</a>
          <a href="/detailsNews/edit/<%= detailsNews.id %>">Editar</a>
          <a href="/detailsNews/delete/<%= detailsNews.id %>">Excluir</a>
        </td>
      </div>
    </li>

   
  </table>
  <% } %>
  <% } else { %>
  <h2>Nenhum Usuário Encontrado</h2>
  <%} %>
</main>
