<%- include("./partials/headAdm") %> <%- include("./partials/headerAdm") %>

<main class="form-news-create main-news-adm">
  <h1 class="titulo-news-create">Editar Noticia</h1>

<main class="form-news-create">

  <form action="/detailsNews/edit/<%= news.id %>" method="post" enctype="multipart/form-data" >
    <input type="hidden" name="_method" value="POST">
    <label for="">Titulo</label>
    <input class="input-form" type="text" name="titulo" placeholder="Titulo" value=" <%= news.titulo %>">

    <label for="">Sub Titulo</label>
    <input class="input-form" type="text" name="subtitulo" placeholder="Sub Titulo" value=" <%= news.subtitulo %>">
    
      <label for="">Imagem</label>
      <input class="input-form" type="text" name="image" value="<%= detailsNews.image %>" placeholder=" Imagem 1">
      <li class="lado-esquerdo-neto1 lado-esquerdo-neto1-destaque">
        <img src="<%= detailsNews.image %>" alt="Imagem" />
      </li>

      <label for="">Descrição Principal</label>
      <textarea  class="input-form" name="description1" placeholder="Descrição Principal"><%= news.description1 %></textarea>


    <label for="">Descrição 1</label>
    <textarea id="editor" class="input-form" name="description" placeholder="Descrição"><%= news.description %></textarea>
    
<label for="">Image 2</label>
<input class="input-form" type="text" name="image2" value="<%= detailsNews.image2 %>" placeholder="Imagem 2">
<li class="lado-esquerdo-neto1 lado-esquerdo-neto1-destaque">
<img src="<%= detailsNews.image2 %>" alt="Imagem" />
</li>

    <label for="">Link Video</label>
    <input class="input-form" type="text" name="link_video" placeholder="Link Video" value="<%= news.link_video %>" >

    <label for="">Descrição 2</label>
    <textarea id="editor2" class="input-form" name="description2" placeholder="Descrição 2"><%= news.description2 %></textarea>
    

    <label for="">Conexão</label>
    <input class="input-form" type="text" name="conecxao" placeholder="Conexão" value=" <%= news.conecxao %>">


    <label for="">Categoria</label>
    <select class="input-form" name="categoria">
        <option value="" disabled selected>Categoria:</option>
        <option value="Recomendações" <%= news.categoria === "Recomendações" ? "selected" : "" %>>Recomendações</option>
        <option value="Novidades" <%= news.categoria === "Novidades" ? "selected" : "" %>>Novidades</option>
        <option value="Temporadas" <%= news.categoria === "Temporadas" ? "selected" : "" %>>Temporadas</option>
        <option value="Curiosidades" <%= news.categoria === "Curiosidades" ? "selected" : "" %>>Curiosidades</option>
    </select>
    
    <label for="">Tipo</label>
    <select class="input-form" name="tipo">
        <option value="" disabled selected>Tipo:</option>
        <option value="Animes" <%= news.tipo === "Animes" ? "selected" : "" %>>Animes</option>
        <option value="Mangas" <%= news.tipo === "Mangas" ? "selected" : "" %>>Mangas</option>
    </select>
    
    <button type="submit"> Criar Noticia </button>
</form> 

<script>
  ClassicEditor
      .create( document.querySelector( '#editor' ) )
      .catch( error => {
          console.error( error );
      } );
</script>


<script>
ClassicEditor
  .create( document.querySelector( '#editor2' ) )
  .catch( error => {
      console.error( error );
  } );
</script>


</main>
