<%- include("./partials/headAdm") %> <%- include("./partials/headerAdm")%>

<main class="main-paginas ">
  <h1 class="titulo-paginas-adm">LISTA DE USUARIOS ADM</h1>
  <% if(news.length > 0){ %>
  <ul class="lado-esquerdo-filho1">
    <% for(let detailsNews of news) {%>
    <li class="lado-esquerdo-neto1 lado-esquerdo-neto1-destaque">
      <div>
        <img src="<%= detailsNews.image %>" alt="Imagem" />
        <h2><%= detailsNews.titulo.substring(0, 52) %></h2>
        <h3><%= detailsNews.created_at.toLocaleDateString('pt-BR') %></h3>
        <div class="description-text">
          <p><%- detailsNews.description1.substring(0, 242) %>...</p>
        </div>
      </div>
      <div class="botao-visualizar-adm">
        <a href="/detailsNews/<%= detailsNews.titulo.replace(/ /g, '-') %>">Visualizar</a>
        <a href="/detailsNews/edit/<%= detailsNews.id %>">Editar</a>
        <a href="/detailsNews/delete/<%= detailsNews.id %>">Excluir</a>
      </div>
    </li>

    <% } %> <% } else { %>
    <h2>Nenhum Usuário Encontrado</h2>
  </ul>
  <%} %>
</main>
