<%- include("./partials/head") %> <%- include("./partials/header")%>

<main>
  <h1>Lista de Recomendações</h1>

  <% if (recomenda.length > 0) { %>
    <ul class="lado-esquerdo-filho1">
      <% for (let detailsRecomenda of recomenda) { %>
        <li class="lado-esquerdo-neto1">
          <div>
            <img src="<%= detailsRecomenda.image %>" alt="Capa Noticia" />
            <h1><%= detailsRecomenda.titulo %></h1>
            <h3>data: <%= detailsRecomenda.created_at.toLocaleDateString() %></h3>
            <p><%= detailsRecomenda.description %></p>
            <button type="submit">
              <a href="/detailsRecomenda/<%= detailsRecomenda.id %>">VER MAIS</a>
            </button>
          </div>
        </li>
      <% } %>
    </ul>
  <% } else { %>
    <h2>Nenhuma Recomenda Encontrada</h2>
  <% } %>
  
</main>
