<%- include("./partials/head") %> <%- include("./partials/header")%>
<meta name="viewport" content="width=device-width, initial-scale=1" />

<main class="main-paginas">
  <h1 class=" titulo-paginas">LISTA DE RECOMENDAÇÕES</h1>



    <% if (recomenda.length > 0) { %>
      <ul class="lado-esquerdo-filho1" id="newsListRecomenda">
        <% for (const detailsRecomenda of recomenda.slice(0, 10)) { %>
        <li class="lado-esquerdo-neto1 lado-esquerdo-neto1-destaque">
          <a rel="canonical" href="/detailsRecomenda/<%= detailsRecomenda.titulo.replace(/ /g, '-') %>" target="_blank">
            <div class="zoomable-image-container">
              <img class="zoomable-image" src="<%= detailsRecomenda.image %>" alt="Capa Noticia" />
              <div class="zoomable-image-overlay"></div>
            </div>
            <h2><%= detailsRecomenda.titulo.substring(0, 58) %></h2>
            <h3>Data: <%= detailsRecomenda.created_at.toLocaleDateString() %></h3>
            <p><%- detailsRecomenda.description.substring(0, 298) %>...</p>
          </a>
        </li>
        <% } %>
        <% } %>
      </ul>
    
     
      
      <div id="loadMoreContainerRecomenda" class="loadMoreContainer-css">
        <button id="loadMoreButtonRecomenda">Ver mais</button>
      </div>
      
      <script>
        let offsetNoticiasRecomenda = 10;
      
        function carregarMaisNoticiasRecomenda() {
          $.ajax({
            url: `/carregarMaisNoticiasRecomenda/${offsetNoticiasRecomenda}`,
            method: "GET",
            success: function(data) {
              $("#newsListRecomenda").append(data);
              offsetNoticiasRecomenda += 10;
            },
            error: function(error) {
              console.error(error);
            }
          });
        }
      
        $("#loadMoreButtonRecomenda").click(carregarMaisNoticiasRecomenda);
      </script>

</main>

<%- include("./partials/footer") %>
