<%- include("./partials/head") %>
<%- include("./partials/header") %>

<main class="main-paginas">
  <h1 class="titulo-paginas">Resultados da sua Pesquisa:</h1>

  <% if (news.length > 0) { %>
    <ul class="lado-esquerdo-filho1">
      <% news.forEach((noticia) => { %>
        <li class="lado-esquerdo-neto1 lado-esquerdo-neto1-destaque">
          <a href="/detailsNews/<%= noticia.titulo.replace(/ /g, '-') %>">
            <div class="zoomable-image-container">
              <img class="zoomable-image" src="<%= noticia.image %>" alt="Capa Noticia" />
              <div class="zoomable-image-overlay"></div>
            </div>
            <div class="descricao-search">
              <h2><%= noticia.titulo %></h2>
            <p><%= noticia.description.substring(0, 298) %>...</p>
            <h3>Data: <%= noticia.created_at.toLocaleDateString() %></h3>
            </div>
          </a>
        </li>
      <% }) %>
    </ul>
  <% } else { %>

  <% } %>
  


<% if (recomenda.length > 0) { %>
  <ul class="lado-esquerdo-filho1">
    <% recomenda.forEach((noticia) => { %>
      <li class="lado-esquerdo-neto1 lado-esquerdo-neto1-destaque">
          <a href="/detailsRecomenda/<%= noticia.titulo.replace(/ /g, '-') %>">
        <div class="zoomable-image-container">
          <img class="zoomable-image" src="<%= noticia.image %>" alt="Capa Noticia" />
          <div class="zoomable-image-overlay"></div>
        </div>
        <div class="descricao-search">
        <h2><%= noticia.titulo %></h2>
        <p><%= noticia.description.substring(0, 298) %>...</p>
        <h3>Data: <%= noticia.created_at.toLocaleDateString() %></h3>
        </div>
      </a>
      </li>
    <% }) %>
  </ul>
<% } else { %>

<% } %>

<% if (temporada.length > 0) { %>
  <ul class="lado-esquerdo-filho1">
    <% temporada.forEach((noticia) => { %>
      <li class="lado-esquerdo-neto1 lado-esquerdo-neto1-destaque">
          <a rel="canonical" href="/detailsTemporada/<%= noticia.titulo.replace(/ /g, '-') %>">
        <div class="zoomable-image-container">
          <img class="zoomable-image" src="<%= noticia.image2 %>" alt="Capa Noticia" />
          <div class="zoomable-image-overlay"></div>
        </div>
        <div class="descricao-search">
        <h2><%= noticia.titulo %></h2>
        <p><%= noticia.description.substring(0, 298) %>...</p>
        <h3>Data: <%= noticia.created_at.toLocaleDateString() %></h3>
        </div>
      </a>
      </li>
    <% }) %>
  </ul>
<% } else { %>

<% } %>

</main>

<%- include("./partials/footer") %>
