<%- include("./partials/headAdm") %> <%- include("./partials/headerAdm") %>


<main class="form-news-create main-news-adm">
<h1 class="titulo-news-create">Editar Temporada</h1>


  <form action="/detailsTemporada/edit/<%= temporada.id %>" method="post" enctype="multipart/form-data">
    <input type="hidden" name="_method" value="POST">

    <label for="">Titulo</label>
    <input class="input-form" type="text" name="titulo" placeholder="Titulo" value="<%= temporada.titulo%>">

    <label for="">Descrição</label>
    <input class="input-form" type="text" name="description" placeholder="Descrição" value="<%= temporada.description %>">

    <label for="">Conexão</label>
    <input class="input-form" type="text" name="conecxao" placeholder="Conexão" value="<%= temporada.conecxao %>">
 
    <label for="">Genero 1</label>
    <input class="input-form" type="text" name="genero1" placeholder="Genero 1" value="<%= temporada.genero1 %>">
    
    <label for="">Genero 2</label>
    <input class="input-form" type="text" name="genero2" placeholder="Genero 2" value="<%= temporada.genero2 %>">
    
    <label for="">Genero 3</label>
    <input class="input-form" type="text" name="genero3" placeholder="Genero 3" value="<%= temporada.genero3 %>">
    
    <label for="">Data de Estreia</label>
    <input class="input-form" type="date" name="estreia" placeholder="Data de Estreia" value="<%= temporada.estreia %>">
    
    <label for="">Streaming</label>
    <input class="input-form" type="text" name="streaming" placeholder="Streaming" value="<%= temporada.streaming %>">

    <label for="">Categoria</label>
    <select class="input-form" name="categoria">
        <option value="" disabled selected>Categoria:</option>
        <option value="Recomendações" <%= temporada.categoria === "Recomendações" ? "selected" : "" %>>Recomendações</option>
        <option value="Novidades" <%= temporada.categoria === "Novidades" ? "selected" : "" %>>Novidades</option>
        <option value="Temporadas" <%= temporada.categoria === "Temporadas" ? "selected" : "" %>>Temporadas</option>
        <option value="Curiosidades" <%= temporada.categoria === "Curiosidades" ? "selected" : "" %>>Curiosidades</option>
    </select>
    
    <label for="">Tipo</label>
    <select class="input-form" name="tipo">
        <option value="" disabled selected>Tipo:</option>
        <option value="Animes" <%= temporada.tipo === "Animes" ? "selected" : "" %>>Animes</option>
        <option value="Mangas" <%= temporada.tipo === "Mangas" ? "selected" : "" %>>Mangas</option>
    </select>

    <label for="">Estação</label>
    <select class="input-form" name="estacao">
       <option value="" disabled selected>Estação</option>
      <option value="INVERNO-2024" <%= temporada.estacao === "INVERNO-2024" ? "selected" : "" %>>INVERNO 2024</option> 
      <option value="PRIMAVERA-2023" <%= temporada.estacao === "PRIMAVERA-2024" ? "selected" : "" %>>PRIMAVERA 2023</option> 
      <option value="VERÃO-2023" <%= temporada.estacao === "VERÃO-2023" ? "selected" : "" %>>VERÃO 2023</option> 
      <option value="OUTONO-2023" <%= temporada.estacao === "OUTONO-2024" ? "selected" : "" %>>OUTONO 2023</option> 
   </select>

    <label for="">Imagem</label>
    <input class="input-form" type="file" name="image" value="<%= temporada.image %>">
    <li class="lado-esquerdo-neto1 lado-esquerdo-neto1-destaque">
      <img src="<%= temporada.image %>" alt="Imagem" />
    </li>

    <label for="">Imagem 2 Capa Index</label>
    <input class="input-form" type="file" name="image2" value="<%= temporada.image2 %>">
    <li class="lado-esquerdo-neto1 lado-esquerdo-neto1-destaque">
      <img src="<%= temporada.image2 %>" alt="Imagem" />
    </li>
    <button type="submit">Salvar Edições</button>
  </form>
</main>
  