<%- include("./partials/headAdm") %> <%- include("./partials/headerAdm")%>
  
  <main class="main-paginas">
    <h1 class="titulo-paginas">Lista de Temporadas</h1>
  
   <div class="dias-da-semana-buttons">
    <% const diasDaSemana = ["INVERNO-2024", "PRIMAVERA-2023", "VERÃO-2023", "OUTONO-2023"]; %>
    <% for (const estacao of diasDaSemana) { %>
      <button class="dia-button selected" data-dia="<%= estacao %>"><%= estacao %></button>
    <% } %>
  </div>

  <div class="lado-esquerdo-filho1">
    <!-- Aqui vamos inserir os lançamentos dinamicamente usando JavaScript -->
  </div>
</main>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const diasButtons = document.querySelectorAll(".dia-button");
    const temporadaContainer = document.querySelector(".lado-esquerdo-filho1");
    const temporadaData = <%- JSON.stringify(temporada) %>; // Certifique-se de passar os dados corretos aqui

    diasButtons.forEach(button => {
      button.addEventListener("click", function() {
        const diaClicado = this.getAttribute("data-dia");
        const temporadaDoDia = temporadaData.filter(item => item.estacao === diaClicado);

        let temporadaHTML = "";

        if (temporadaDoDia.length > 0) {
          temporadaDoDia.forEach(detailsTemporada => {
            temporadaHTML += `
 
    <ul class="lado-esquerdo-filho1">
      <li class="lado-esquerdo-neto1 lado-esquerdo-neto1-destaque lado-esquerdo-neto1-temporada">
        <section>
          <a href="/detailsTemporada/${ detailsTemporada.titulo.replace(/ /g, '-')}">
          <div class="zoomable-image-container zoomable-image-container-temporada">
            <img class="zoomable-image" src="${ detailsTemporada.image }" alt="Capa Noticia" />
            <div class="zoomable-image-overlay"></div>
          </div>
          <div class="div2">
            <h1>${ detailsTemporada.titulo }</h1>
            <p class="descricao-1-temporada">${ detailsTemporada.description.substring(0, 364) }...</p>
            <p class="descricao-2-temporada">${ detailsTemporada.description.substring(0, 120) }...</p>
            

            <h2 class="generos-temporada-principal">Data de Estreia:
              <div class="generos-temporada">
                <h3>${ detailsTemporada.estreia }</h3>
                </div>
            </h2>

            <h2 class="generos-temporada-principal">Streaming:
              <div class="generos-temporada">
                <h3>${ detailsTemporada.streaming }</h3>
                </div>
            </h2>

            <h2 class="generos-temporada-principal ">Generos:
              <div class="generos-temporada generos-temporada2">
                <h3>${ detailsTemporada.genero1 }</h3>
                <h3>${ detailsTemporada.genero2 }</h3>
                </div>
            </h2>

            <h2 class="generos-temporada-principal">
              <a href="/detailsTemporada/${detailsTemporada.id}?scrollTo=videoTrailer">Trailer</a>
            </h2>

            <div class="botao-visualizar-adm">
              <a href="/detailsTemporada/${ detailsTemporada.titulo.replace(/ /g, '-')}" > Visualizar</a>
  <a href="/detailsTemporada/edit/ ${detailsTemporada.id}">Editar</a>
  <a href="/detailsTemporada/delete/ ${detailsTemporada.id}">Excluir</a>
</div>
          </div>
        </a>
      </section

      </li>
    </ul>
            `;
          });
        } else {
          temporadaHTML = "<h2>Nenhuma Temporada Encontrada</h2>";
        }

        temporadaContainer.innerHTML = temporadaHTML;

        // Remova a classe 'selected' de todos os botões e a adicione ao botão clicado
        diasButtons.forEach(btn => btn.classList.remove("selected"));
        this.classList.add("selected");
      });
    });

    // Simule o clique no botão de Domingo para carregar o conteúdo inicial
    const domingoButton = document.querySelector(".dia-button[data-dia='VERÃO-2023']");
    domingoButton.click();
  });
</script>



