<%- include("./partials/head") %>
<%- include("./partials/header") %>
<meta name="viewport" content="width=device-width, initial-scale=1" />

<main class="main-paginas">
  <h1 class=" titulo-paginas">LISTA DE MANGAS</h1>
 

  <% if (tipoMangas.length > 0) { %>
    <ul class="lado-esquerdo-filho1" id="newsListMangas">
      <% for (const mangas of tipoMangas.slice(0, 10)) { %>
        <li class="lado-esquerdo-neto1 lado-esquerdo-neto1-destaque">
          <a  href="<%= mangas.contentType === 'News' ? '/detailsNews/' + mangas.titulo.replace(/ /g, '-') : '/detailsRecomenda/' + mangas.titulo.replace(/ /g, '-') %>" target="_blank">
            <div class="zoomable-image-container">
              <img class="zoomable-image" src="<%= mangas.image %>" alt="Capa Noticia" />
              <div class="zoomable-image-overlay"></div>
            </div>
            <h2><%= mangas.titulo.substring(0, 57) %></h2>
            <h3>Data: <%= mangas.created_at.toLocaleDateString() %></h3>
            <p><%- mangas.description1.substring(0, 297) %>...</p>
          </a>
        </li>
      <% } %>
    </ul>
    <% } %>
    
  
   
    
    <div id="loadMoreContainerMangas" class="loadMoreContainer-css">
      <button id="loadMoreButtonMangas">Mais Noticias</button>
    </div>
    
    <script>
      let offsetNoticiasMangas = 10;
    
      function carregarMaisNoticiasMangas() {
        $.ajax({
          url: `/carregarMaisNoticiasMangas/${offsetNoticiasMangas}`,
          method: "GET",
          success: function(data) {
            $("#newsListMangas").append(data);
            offsetNoticiasMangas += 10;
          },
          error: function(error) {
            console.error(error);
          }
        });
      }
    
      $("#loadMoreButtonMangas").click(carregarMaisNoticiasMangas);
    </script>
</main>


<%- include("./partials/footer") %>

