<%- include("./partials/head") %>
<%- include("./partials/header") %>

<main class="main-paginas">
  <h1 class=" titulo-paginas">ANIMES</h1>




  <% if (tipoAnime.length > 0) { %>
  <ul class="lado-esquerdo-filho1" id="newsListAnimes">
    <% for (const anime of tipoAnime.slice(0, 12)) { %>

    <li class="lado-esquerdo-neto1 lado-esquerdo-neto1-destaque">
        <% if (anime.contentType === 'News') { %>
          <a href="/detailsNews/<%= anime.titulo.replace(/ /g, '-') %>" target="_blank">
        <% } else if (anime.contentType === 'Recomenda') { %>
          <a href="/detailsRecomenda/<%= anime.titulo.replace(/ /g, '-') %>" target="_blank">

        <% } %>
        <div class="zoomable-image-container">
          <img class="zoomable-image" src="<%= anime.image %>" alt="Capa Noticia" />
          <div class="zoomable-image-overlay"></div>
        </div>
        <h1><%= anime.titulo.substring(0, 58) %></h1>
        <h3>Data: <%= anime.created_at.toLocaleDateString() %></h3>
        <p><%- anime.description.substring(0, 298) %>...</p>
        <% if (anime.contentType === 'News') { %>
        </a>
      <% } else if (anime.contentType === 'Recomenda') { %>
        </a>

      <% } %>
      </a>
    </li>
    <% } %>
    <% } %>
  </ul>

 
  
  <div id="loadMoreContainerAnimes" class="loadMoreContainer-css">
    <button id="loadMoreButtonAnimes">Ver mais</button>
  </div>
  
  <script>
    let offsetNoticiasAnimes = 10;
  
    function carregarMaisNoticiasAnimes() {
      $.ajax({
        url: `/carregarMaisNoticiasAnimes/${offsetNoticiasAnimes}`,
        method: "GET",
        success: function(data) {
          $("#newsListAnimes").append(data);
          offsetNoticiasAnimes += 10;
        },
        error: function(error) {
          console.error(error);
        }
      });
    }
  
    $("#loadMoreButtonAnimes").click(carregarMaisNoticiasAnimes);
  </script>

</main>


<%- include("./partials/footer") %>
