<%- include("./partials/head") %>
<%- include("./partials/header") %>

<main>
  <h1>Mangas</h1>

  <% if (tipoMangas.length > 0) { %>
    <ul class="lado-esquerdo-filho1">
      <% for (let mangas of tipoMangas) { %>
        <li class="lado-esquerdo-neto1">
          <div>
            <img src="<%= mangas.image %>" alt="Capa Noticia" />
            <h1><%= mangas.titulo %></h1>
            <h3>data: <%= new Date(mangas.created_at).toLocaleDateString() %></h3>
            <p><%= mangas.description %></p>
            <button type="submit">
              <% if (mangas.contentType === 'News') { %>
                <a href="/detailsNews/<%= mangas.id %>">VER MAIS</a>
              <% } else if (mangas.contentType === 'Recomenda') { %>
                <a href="/detailsRecomenda/<%= mangas.id %>">VER MAIS</a>
              <% } else if (mangas.contentType === 'Temporada') { %>
                <a href="/detailsTemporada/<%= mangas.id %>">VER MAIS</a>
              <% } %>
            </button>
          </div>
        </li>
      <% } %>
    </ul>
  <% } else { %>
    <h2>Nenhum Anime Encontrado</h2>
  <% } %>
</main>
