<ul class="lado-esquerdo-filho1" id="newsListRecomenda">

    <% for (const noticia of newsSliceRecomenda) { %>
        <li class="lado-esquerdo-neto1 lado-esquerdo-neto1-destaque">
          <a rel="canonical" href="<%= noticia instanceof News ? '/detailsNews/' + noticia.titulo.replace(/ /g, '-') : '/detailsRecomenda/' + noticia.titulo.replace(/ /g, '-') %>" target="_blank">

            <div class="zoomable-image-container">
                    <% if (noticia.image) { %>
                <img class="zoomable-image" src="<%= noticia.imagex %>" alt="Capa noticia" />
                <% } else { %>
                <!-- Coloque aqui um placeholder caso a imagem não esteja disponível -->
              <% } %>
              <div class="zoomable-image-overlay"></div>
          
          </div>
 
            <h2><%= noticia.titulo %></h2>
            <h3>Data: <%= noticia.created_at.toLocaleDateString('pt-BR') %></h3>
            <p><%- noticia.description.substring(0, 298) %>...</p>
        </div>
      </a>

      </li>
    <% } %>
  </ul>
  

  