<ul class="lado-esquerdo-filho2" id="newsList">
    <% for (const noticia of newsSlice) { %>
      <li class=" lado-esquerdo-neto1-destaque">
        <a rel="canonical" href="<%= noticia instanceof News ? '/detailsNews/' + noticia.titulo.replace(/ /g, '-') : '/detailsRecomenda/' + noticia.titulo.replace(/ /g, '-') %>" target="_blank">
          <div class="lado-esquerdo-filho3 temporada-lado-direito-index ">
          <div class="zoomable-image-container image-principais-noticias">
              <% if (noticia.image) { %>
                <img class="zoomable-image" src="<%= noticia.image %>" alt="Capa Noticia" />
                <% } else { %>
                <!-- Coloque aqui um placeholder caso a imagem não esteja disponível -->
              <% } %>
          </div>
          <div class="lado-esquerdo-neto2 ">
            <h2><%= noticia.titulo %></h2>
            <h3>Data: <%= new Date(noticia.created_at).toLocaleDateString('pt-BR') %></h3>
            <% if (noticia instanceof News && noticia.description1) { %>
              <p><%- noticia.description1.substring(0, 200) %>...</p>
            <% } else if (noticia instanceof Recomenda && noticia.description1) { %>
              <p><%- noticia.description1.substring(0, 200) %>...</p>
            <% } %>
          </div>
        </div>
      </a>

      </li>
    <% } %>
  </ul>
  
  