<ul class="lado-esquerdo-filho1" id="newsListCuriosidade">

    <% for (const noticia of newsSliceCuriosidade) { %>
        <li class="lado-esquerdo-neto1 lado-esquerdo-neto1-destaque">
          
            <div class="zoomable-image-container">
                <a href="<%= '/details/' + noticia.id %>">
                    <% if (noticia.image) { %>
                <img class="zoomable-image" src="<%= noticia.imageUrl %>" alt="Capa noticia" />
                <% } else { %>
                <!-- Coloque aqui um placeholder caso a imagem não esteja disponível -->
              <% } %>
              <div class="zoomable-image-overlay"></div>
            </a>
          
          </div>
 
            <h1><%= noticia.titulo %></h1>
            <h3>Data: <%= noticia.created_at.toLocaleDateString() %></h3>
            <p><%- noticia.description.substring(0, 298) %>...</p>
        </div>
      </li>
    <% } %>
  </ul>
  

  