<ul class="lado-esquerdo-filho1" id="newsListAnimes">

    <% for (const noticia of newsSliceAnimes) { %>
        <li class="lado-esquerdo-neto1 lado-esquerdo-neto1-destaque">
          <a href="<%= noticia.categoria === 'Curiosidades' ? '/detailsNews/' + noticia.id : '/detailsRecomenda/' + noticia.id %>">

            <div class="zoomable-image-container">
              <% if (noticia.image) { %>
                <img class="zoomable-image" src="<%= noticia.image %>" alt="Capa Noticia" />
                <% } else { %>
                <!-- Coloque aqui um placeholder caso a imagem não esteja disponível -->
              <% } %>
              <div class="zoomable-image-overlay"></div>
          </div>
 
            <h1><%= noticia.titulo %></h1>
            <h3>Data: <%= noticia.created_at.toLocaleDateString() %></h3>
            <p><%- noticia.description.substring(0, 298) %>...</p>
        </div>
      </a>

      </li>
    <% } %>
  </ul>
  

  